.vehicle-detail {
  display: flex; 
  margin: 64px 0px; 
  flex-direction: column;
  border-radius: 12px;
  background-color: white; 
}

.vehicle-detail-box {
  display:flex; 
  padding: 24px 24px;
  flex: 1;
}

.vehicle-detail-images {
  flex: 1;
  max-width: 800px;
  width: 100%
}

.vehicle-detail-info {
  margin: 12px 40px;
  flex: 1;
}

@media (max-width: 1024px) {
  .vehicle-detail-box {
    flex-direction: column;
  }

  .vehicle-detail-images {
    flex: 1;
    max-width: 800px;
    width: 100%;
  }

  .vehicle-detail-info {
    margin: 0px;
  }
  
}