.vehicle-detail-container {
  display: flex;  
  justify-content: center; 
  background-color: white;
}

.vehicle-detail {
  display: flex; 
  margin: 64px 24px; 
  flex-direction: column;
  border-radius: 12px;
}

.vehicle-detail-box {
  display:flex; 
  padding: 0px 24px;
  flex: 1;
}

.vehicle-detail-images {
  flex: 1;
  max-width: 800px;
  width: 100%
}

.vehicle-detail-info {
  margin: 0px 40px;
  flex: 1;
}


.vehicle-detail-title {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 8px;
}

@media (max-width: 1024px) {

  .vehicle-detail-title {
    font-size: 22px;
    padding: 16px 0px 8px;
  }

  .vehicle-detail-box {
    flex-direction: column;
    margin: 0px 0px;
    padding: 0px;
  }

  .vehicle-detail-images {
    flex: 1;
    max-width: 800px;
    width: 100%;
  }

  .vehicle-detail-info {
    margin: 0px;
  }
  
}